@import "normalize.css";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(http://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1MmgVxMIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu5mxP.ttf) format('truetype');
}
body {
  background: url("../img/backgroundPattern.png");
}
a:hover {
  color: #CD412A;
}
.wrap {
  position: relative;
  background: url("../img/contentPattern.png");
  width: 1001px;
  margin-left: 211px;
  margin-top: 44px;
  margin-bottom: 139px;
  padding-bottom: 47px;
}
header {
  padding-top: 48px;
}
header > h1 {
  width: 382px;
  height: 28px;
  margin: 0 auto;
  background: url("../img/assistant.png") no-repeat;
  text-align: center;
}
header h4 {
  margin-top: 20px;
  margin-bottom: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  font-family: "PT Sans Narrow", sans-serif;
  color: #787673;
  letter-spacing: 0.4px;
}
.jobInfo {
  width: 100%;
  margin-top: 43px;
}
.jobInfo h1 {
  color: #6A0005;
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
}
.jobInfo div {
  display: inline-block;
  width: 275px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 300;
  vertical-align: top;
}
.jobInfo div:nth-child(2) {
  width: 289px;
}
.jobInfo div:nth-child(3) {
  width: 282px;
}
.jobInfo p {
  font-size: 15px;
}
.jobInfo .remoteJob {
  background: url("../img/remoteJobLogo.png") 157px 5px no-repeat;
  padding-top: 82px;
  padding-left: 38px;
}
.jobInfo .remoteJob p {
  margin-top: -5px;
}
.jobInfo .schedule {
  background: url("../img/scheduleLogo.png") 138px 5px no-repeat;
  padding-top: 79px;
  padding-left: 31px;
}
.jobInfo .schedule p {
  margin-top: -5px;
}
.jobInfo .comp {
  background: url("../img/compLogo.png") 115px 1px no-repeat;
  padding-top: 79px;
  padding-left: 37px;
}
.jobInfo p {
  margin-top: -5px;
}
.requirements {
  margin-top: 87px;
  left: 321px;
}
.requirements h1 {
  position: relative;
  margin: 0;
  font-weight: 300;
  font-size: 27px;
  font-family: "PT Sans Narrow", sans-serif;
  letter-spacing: 1.1px;
  color: #323232;
  line-height: 1.1;
  text-align: center;
}
.requirements h1:before {
  content: '';
  position: absolute;
  border-bottom: 1px gray solid;
  width: 273px;
  left: 35px;
  top: 15px;
}
.requirements h1:after {
  content: '';
  position: absolute;
  border-bottom: 1px gray solid;
  width: 268px;
  top: 15px;
  right: 35px;
}
.requirements h1 span {
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: -0.3px;
}
.graphs {
  height: 260px;
  margin-top: 21px;
}
.graphs a {
  position: relative;
  color: #006384;
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  width: 150px;
}
.graphs a:hover {
  color: #CD412A;
  border-bottom: none;
}
[class*="graphs-"] {
  position: relative;
  display: inline-block;
  margin-top: 90px;
  background: #D0C0A4;
}
.graph-active {
  background: url("../img/graphPattern.png");
}
.graph-active a {
  color: #CD412A;
}
.graph-active a:before,
.graph-active a:after {
  display: none;
}
.graph-active.graphs-details:before {
  background: url("../img/30percentsActive.png") no-repeat;
  display: block;
  width: 110px;
  -moz-transition: background-image 1.5s;
  -ms-transition: background-image 1.5s;
  -o-transition: background-image 1.5s;
  -webkit-transition: background-image 1.5s;
  transition: background-image 1.5s;
}
.graphs-details {
  width: 220px;
  margin-right: 13px;
  margin-left: 28px;
  height: 40px;
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
.graphs-details:before {
  content: '';
  position: absolute;
  display: block;
  width: 99px;
  height: 46px;
  background: url("../img/30percents.png") no-repeat;
  top: -59px;
}
.graphs-details a {
  margin-top: 65px;
}
.graphs-details a:before {
  content: '';
  position: absolute;
  top: 16px;
  width: 143px;
  border-bottom: 1px #006384 dashed;
}
.graphs-details a:after {
  content: '';
  position: absolute;
  top: 37px;
  left: 0;
  width: 77px;
  border-bottom: 1px #006384 dashed;
}
.graphs-details a:hover:before,
.graphs-details a:hover:after {
  display: none;
}
.graph-active.graphs-errors:before {
  background: url("../img/60percentsActive.png") no-repeat;
  content: '';
  display: block;
  width: 110px;
  height: 46px;
  -moz-transition: background-image 1.5s;
  -ms-transition: background-image 1.5s;
  -o-transition: background-image 1.5s;
  -webkit-transition: background-image 1.5s;
  transition: background-image 1.5s;
}
.graphs-errors {
  width: 224px;
  height: 98px;
  margin-right: 10px;
  margin-left: 2px;
}
.graphs-errors:before {
  content: '';
  position: absolute;
  display: block;
  width: 99px;
  height: 46px;
  background: url("../img/60percents.png") no-repeat;
  top: -61px;
}
.graphs-errors a {
  margin-top: 121px;
}
.graphs-errors a:before {
  content: '';
  position: absolute;
  top: 18px;
  width: 82px;
  border-bottom: 1px #006384 dashed;
}
.graphs-errors a:after {
  content: '';
  position: absolute;
  top: 37px;
  left: 0;
  width: 134px;
  border-bottom: 1px #006384 dashed;
}
.graphs-errors a:hover:before,
.graphs-errors a:hover:after {
  display: none;
}
.graph-active.graphs-support:before {
  background: url("../img/46percentsActive.png") no-repeat;
  content: '';
  display: block;
  width: 110px;
  height: 46px;
  -moz-transition: background-image 1.5s;
  -ms-transition: background-image 1.5s;
  -o-transition: background-image 1.5s;
  -webkit-transition: background-image 1.5s;
  transition: background-image 1.5s;
}
.graphs-support {
  width: 225px;
  height: 56px;
  margin-left: 7px;
}
.graphs-support:before {
  content: '';
  position: absolute;
  display: block;
  width: 99px;
  height: 46px;
  background: url("../img/46percents.png") no-repeat;
  top: -64px;
}
.graphs-support a {
  margin-top: 78px;
}
.graphs-support a:before {
  content: '';
  position: absolute;
  top: 36px;
  width: 122px;
  border-bottom: 1px #006384 dashed;
}
.graphs-support a:after {
  content: '';
  position: absolute;
  top: 37px;
  left: 0;
  width: 70px;
  border-bottom: 1px #006384 dashed;
}
.graphs-support a:hover:before,
.graphs-support a:hover:after {
  display: none;
}
.graph-active.graphs-files:before {
  background: url("../img/10percentsActive.png") no-repeat;
  content: '';
  display: block;
  width: 110px;
  height: 46px;
  right: 111px;
  -moz-transition: background-image 1.5s;
  -ms-transition: background-image 1.5s;
  -o-transition: background-image 1.5s;
  -webkit-transition: background-image 1.5s;
  transition: background-image 1.5s;
}
.graphs-files {
  margin-left: 16px;
  height: 16px;
  width: 225px;
}
.graphs-files:before {
  content: '';
  position: absolute;
  display: block;
  width: 99px;
  height: 46px;
  background: url("../img/10percents.png") no-repeat;
  top: -55px;
  right: 122px;
}
.graphs-files a {
  margin-top: 37px;
  margin-left: -1px;
  width: 178px;
}
.graphs-files a:before {
  content: '';
  position: absolute;
  top: 16px;
  width: 170px;
  border-bottom: 1px #006384 dashed;
}
.graphs-files a:after {
  content: '';
  position: absolute;
  top: 37px;
  left: 0;
  width: 77px;
  border-bottom: 1px #006384 dashed;
}
.graphs-files a:hover:before,
.graphs-files a:hover:after {
  display: none;
}
.info {
  position: relative;
  width: 949px;
  height: 518px;
  margin-top: 26px;
  margin-left: 28px;
  border: 1px #656565 solid;
}
[class*="info-"] {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
[class*="info-"] h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  position: absolute;
  top: 55px;
  left: 159px;
  line-height: 1.4;
}
[class*="info-"] article:nth-child(even) {
  font-size: 12px;
  width: 418px;
  position: absolute;
  top: 180px;
  left: 89px;
  line-height: 1.5;
  background: url("../img/question.png") 25px 30px no-repeat;
  padding-left: 110px;
  letter-spacing: 0.4px;
}
[class*="info-"] article:nth-child(odd) {
  font-size: 12px;
  width: 398px;
  position: absolute;
  top: 334px;
  left: 199px;
  line-height: 1.5;
}
[class*="info-"] h4 {
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #6B0400;
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 6px;
}
[class*="info-"] h3 {
  color: #6B0400;
}
[class*="info-"] aside {
  position: absolute;
  right: 58px;
  top: 178px;
  width: 220px;
  padding-top: 50px;
  padding-left: 20px;
  background: url("../img/superman.png") 10px 22px no-repeat;
}
[class*="info-"] aside h3 {
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: normal;
  letter-spacing: 0.6px;
  margin-left: 10px;
}
[class*="info-"] ul {
  list-style: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
[class*="info-"] li {
  margin-bottom: 29px;
  margin-top: -9px;
  margin-left: -2px;
  text-indent: -33px;
}
.info-details {
  background: url("../img/docs.png") 27px 50px no-repeat;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  z-index: 1;
}
.info-details:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 9px;
  width: 29px;
  height: 14px;
  background: url("../img/triangle.png") no-repeat;
}
.info-details h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  position: absolute;
  top: 55px;
  left: 159px;
  line-height: 1.4;
}
.info-details article:nth-child(even) {
  font-size: 12px;
  width: 418px;
  position: absolute;
  top: 180px;
  left: 89px;
  line-height: 1.5;
  background: url("../img/question.png") 25px 30px no-repeat;
  padding-left: 110px;
  letter-spacing: 0.4px;
}
.info-details article:nth-child(odd) {
  font-size: 12px;
  width: 398px;
  position: absolute;
  top: 334px;
  left: 199px;
  line-height: 1.5;
}
.info-details h4 {
  font-size: 16px;
  letter-spacing: -0.3px;
  color: #6B0400;
  font-family: "PT Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 6px;
}
.info-details h3 {
  color: #6B0400;
}
.info-details aside {
  position: absolute;
  right: 58px;
  top: 178px;
  width: 220px;
  padding-top: 50px;
  padding-left: 20px;
  background: url("../img/superman.png") 10px 22px no-repeat;
}
.info-details aside h3 {
  font-size: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: normal;
  letter-spacing: 0.6px;
  margin-left: 10px;
}
.info-details ul {
  list-style: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.info-details li {
  margin-bottom: 29px;
  margin-top: -9px;
  margin-left: -2px;
}
.info-errors {
  background: url("../img/glass.png") 14px 34px no-repeat;
}
.info-errors:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 251px;
  width: 29px;
  height: 14px;
  background: url("../img/triangle.png") no-repeat;
}
.info-errors h1 {
  width: 683px;
}
.info-errors article:nth-child(odd) {
  margin-top: -19px;
  width: 414px;
}
.info-errors aside {
  top: 158px;
}
.info-errors aside ul {
  width: 217px;
}
.info-errors aside li {
  margin-bottom: 29px;
  margin-top: -6px;
  margin-left: -3px;
}
.info-errors aside li:nth-child(3) {
  margin-bottom: 19px;
}
.info-errors a,
.info-errors a:visited {
  color: #3F8394;
}
.info-errors a:hover {
  color: #CD412A;
}
.info-support {
  position: relative;
}
.info-support:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  border-left-color: transparent;
  -webkit-animation: rotate 1.4s ease 0.5s infinite;
  animation: rotate 1.4s ease 0.5s infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.info-support:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 491px;
  width: 29px;
  height: 14px;
  background: url("../img/triangle.png") no-repeat;
}
.info-support h1 {
  width: 686px;
}
.info-support article:nth-child(odd) {
  margin-top: -37px;
}
.info-support aside {
  top: 158px;
}
.info-support li {
  margin-top: -4px;
  margin-bottom: 28px;
}
.info-support li:last-child {
  margin-top: -10px;
}
.info-files {
  background: url("../img/psd.png") 30px 30px no-repeat;
}
.info-files:after {
  content: '';
  display: block;
  position: absolute;
  top: -12px;
  left: 737px;
  width: 29px;
  height: 14px;
  background: url("../img/triangle.png") no-repeat;
}
.info-files h1 {
  width: 700px;
}
.info-files aside {
  top: 158px;
}
.info-files ul {
  width: 197px;
}
.info-files li {
  margin-top: -4px;
  margin-bottom: 27px;
}
[type="checkbox"] {
  display: none;
}
[type="checkbox"] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
  left: 6px;
  margin-right: 13px;
  padding-bottom: -53px;
  margin-top: -58px;
  background: url(../img/checkboxSprite.png) 0 3px no-repeat;
}
[type="checkbox"] + label {
  cursor: pointer;
}
[type="checkbox"]:checked + label:before {
  background-position: 0 -29px;
}
footer {
  margin-top: 40px;
  background: url("../img/careerLogo.png") 182px 28px no-repeat;
  width: 100%;
}
footer h1 {
  margin: 0;
  color: #6A0005;
  font-size: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 300;
  letter-spacing: 1.1px;
  padding-left: 381px;
}
footer h4 {
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 300;
  width: 500px;
  margin-left: 384px;
  padding-bottom: 5px;
  margin-bottom: -1px;
}
footer p {
  width: 470px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-left: 384px;
}
footer .form {
  width: 314px;
  margin-top: 48px;
  margin-left: 384px;
}
footer .form input,
footer .form textarea,
footer .form button {
  display: block;
  width: 100%;
  padding-top: 17px;
  padding-right: 50px;
  padding-bottom: 17px;
  padding-left: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  line-height: 22px;
  box-sizing: border-box;
}
footer .form .input-wrapper {
  position: relative;
  max-height: 56px;
  border: 1px solid #666666;
  background: transparent;
  box-sizing: border-box;
}
footer .form .input-wrapper input {
  position: relative;
  z-index: 10;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 18px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #333333;
  outline: none;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
  letter-spacing: 1.2px;
}
footer .form .input-wrapper input:hover {
  border-color: #056383;
}
footer .form .input-wrapper input:focus {
  border-color: #056383;
}
footer .form .input-wrapper input:focus + label {
  -webkit-transform: scale(0.55) translateX(-24px) translateY(-22px);
  -ms-transform: scale(0.55) translateX(-24px) translateY(-22px);
  transform: scale(0.55) translateX(-24px) translateY(-22px);
}
footer .form .input-wrapper input:invalid {
  border: 1px solid #C7261A;
}
footer .form .input-wrapper input:not([value=""]) + label {
  -webkit-transform: scale(0.55) translateX(-24px) translateY(-22px);
  -ms-transform: scale(0.55) translateX(-24px) translateY(-22px);
  transform: scale(0.55) translateX(-24px) translateY(-22px);
}
footer .form .input-wrapper label {
  position: absolute;
  top: calc(50% - 10.5px);
  left: 20px;
  z-index: 5;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #056383;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .form .textarea-wrapper {
  position: relative;
  margin-top: 20px;
  border: 1px solid #666666;
  background: transparent;
}
footer .form .textarea-wrapper textarea {
  position: relative;
  z-index: 10;
  min-height: 140px;
  border: none;
  background: transparent;
  font-size: 18px;
  line-height: 18px;
  box-sizing: border-box;
  resize: none;
  text-transform: uppercase;
  color: #333333;
  outline: none;
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  transform: translateY(9px);
}
footer .form .textarea-wrapper textarea:hover {
  border-color: #056383;
}
footer .form .textarea-wrapper textarea:focus {
  border-color: #056383;
}
footer .form .textarea-wrapper textarea:focus + label {
  -webkit-transform: scale(0.55) translateX(-93px) translateY(-22px);
  -ms-transform: scale(0.55) translateX(-93px) translateY(-22px);
  transform: scale(0.55) translateX(-93px) translateY(-22px);
}
footer .form .textarea-wrapper textarea:not([value=""]) + label {
  -webkit-transform: scale(0.55) translateX(-93px) translateY(-22px);
  -ms-transform: scale(0.55) translateX(-93px) translateY(-22px);
  transform: scale(0.55) translateX(-93px) translateY(-22px);
}
footer .form .textarea-wrapper label {
  position: absolute;
  z-index: 5;
  top: 16px;
  left: 17px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #056383;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
footer .form button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-height: 56px;
  margin-top: 20px;
  background-color: #6B0000;
  border: 4px solid transparent;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.2px;
  outline: none;
}
footer .form button:hover {
  background-color: #C7261A;
}
footer .form button:focus {
  background-color: #C7261A;
  border: 4px solid #056383;
}
footer .form button:active {
  background-color: #800000;
}
footer nav {
  margin-top: 81px;
  margin-left: 51px;
}
footer nav div {
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 250px;
  padding-bottom: 5px;
}
footer nav div a {
  display: inline-block;
  font-size: 21.76px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #23748D;
  text-decoration: none;
  border-bottom: 1px #23748D solid;
  line-height: 21px;
  margin-top: 5px;
}
footer nav div a:hover {
  border-bottom: 1px #CD412A solid;
}
.egg {
  background: url("../img/contentPattern.png");
  border: 1px #000 solid;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 19px;
  line-height: 1.4;
  padding: 25px;
  position: fixed;
  z-index: 2;
}
.popup-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  z-index: 1;
}
